# Score Table

## 1. Import

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 2. Create the table

The easiest way for people who's not used to Python.  
You can also use excel, R, ...

In [36]:
dataframe_sparrow = pd.DataFrame()
dataframe_sparrow['Participants'] = pd.Series(['CJ1','MJ2','ED3','AK4','AP5','MC6','EG7','LD8'])
dataframe_sparrow['Score_Reco'] = pd.Series(['9/32','4/32','7/32','12/32','5/32','7/32','4/32','9/32'])
dataframe_sparrow['Score_Rappel'] = pd.Series(['NaN','NaN'])

In [37]:
dataframe_sparrow

  Participants Score_Reco Score_Rappel
0          CJ1       9/32          NaN
1          MJ2       4/32          NaN
2          ED3       7/32          NaN
3          AK4      12/32          NaN
4          AP5       5/32          NaN
5          MC6       7/32          NaN
6          EG7       4/32          NaN
7          LD8       9/32          NaN