In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
dataframe_sparrow = pd.DataFrame()
dataframe_sparrow['Nb_anec_rappelé'] = pd.Series([15,6,11,12,8,13,7,18])
dataframe_sparrow['Participants'] = pd.Series(['CJ1','MJ2','ED3','AK4','AP5','MC6','EG7','LD8'])
dataframe_sparrow['Score_Reco'] = pd.Series(['9/32','4/32','7/32','12/32','5/32','7/32','4/32','9/32'])
dataframe_sparrow['Score_Rappel'] = pd.Series(['NaN','NaN'])

In [39]:
dataframe_sparrow

   Nb_anec_rappelé Participants Score_Reco Score_Rappel
0               15          CJ1       9/32          NaN
1                6          MJ2       4/32          NaN
2               11          ED3       7/32          NaN
3               12          AK4      12/32          NaN
4                8          AP5       5/32          NaN
5               13          MC6       7/32          NaN
6                7          EG7       4/32          NaN
7               18          LD8       9/32          NaN